
@{
    Layout = null;
}
@model IEnumerable<ECommerce.DAL.Data.Entities.Product>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.ProductName</li>
        }
    </ul>
</div>
</body>
</html>
